ul.nav>li{
    float:left;
    list-style-type: none;
    font-family: 'Libre Baskerville', serif;
    font-size:12pt;
}

ul.nav{
    display: block;
text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

ul.nav>li>a{
    display: block;
    padding: 70px;
    padding-top: 0;

}

